*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: rgba(128, 128, 128, 0.1);
  min-height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color:rgb(77, 77, 77);
  line-height: 1.5;
  background-image: linear-gradient(to bottom right, rgb(0, 153, 255), lightblue);
}
.first{
  height:60vh;
  width:100vw;
  display:flex;
  justify-content: center;
  align-items: center;
  padding:10px;
  flex-wrap: wrap;
}

.first_1{
  height:57vh;
  width:18vw;
  background-color: white;
  border-radius:15px;
  margin-bottom: 10px;
  text-align:center;
  padding:10px 0 10px 0;
  overflow: scroll;
}
.myAvatar{
  height:80px;
  width:80px;
  border-radius:50%;
  margin-top: 50px;
  margin-bottom:7px;
}
.jun_dev_title{
  background-color: rgba(128, 128, 128, 0.1);
  font-size:10px;
  padding:5px;
  width:100px;
  margin:0 auto;
  border-radius: 15px;
  margin-top: 7px;
  margin-bottom:7px;
}
.info{
  background-color: rgba(128, 128, 128, 0.1);
  margin-top:20px;
}
.info li{
  list-style-type: none;
  font-size:10px;
  padding:5px;
  color:rgb(77, 77, 77);
}
.info a{
   text-decoration: none;
}
.first_2{
  min-height:57vh;
  width:45vw;
  background-color: white;
  margin-left:2%;
  border-radius:15px;
  margin-bottom: 10px;
  overflow: scroll;
}
.nav{
  padding:20px;
}
.nav li {
  list-style-type: none;
  display: inline-block;
  margin-left:5px;
  font-size: 1.2rem;
  font-weight: 400;
  color: gray;
  color:rgb(77, 77, 77);
}
.marker{
  height: 3px;
  width:25px;
  background-color: blue;
  margin:-10px 0 20px 95px;
}
.what_im_{
  height:47vh;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgba(128, 128, 128, 0.1);
  overflow: scroll;
}
.what_im_ ul{
padding:10px 10px 0px 20px;

}
.what_im_ li {
  list-style-type: none;
  display: inline-block;
  margin-left:5px;
  font-size: 0.7rem;
  font-weight: 400;
  color: gray;
  color:rgb(77, 77, 77);
}
.what_im_ li:hover{
  color:blue;
}
.what_im_ ul li span{
 color:blue;
}
.projects{
 margin:10px 20px 20px 20px;
 display: flex;
 align-items: center;
}
.project_1,.project_2 ,.project_3{
  height:120px;
  width:180px;
  border-radius:7px;
  margin-bottom: 10px;
  text-align: center;
}
.project_img{
  height:100px;
  width:150px;
  border-radius: 7px;
}
.project_1 p, .project_2 p, .project_3 p{
 font-size: 0.7rem;
 cursor:pointer;
 color:rgb(77, 77, 77);
}
.project_1 p:hover, .project_2 p:hover, .project_2 p:hover{
 font-size: 0.8rem;
 color:blue;
}
.project_1 a, .project_2 a ,.project_3 a{
 text-decoration: none;
}


@media (max-width:600px){
.first_1{
  width:80vw;
}
.first_2{
  width:80vw;
}
.projects{
flex-wrap: wrap;
}
}
